.timeslot-picker {
  margin-top: 2rem;
}

.timeslot-picker-days {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.timeslot-picker-days-day {
  background: #E0E1E5;
  color: #1b1c20;
  text-align: center;
  display: flex;;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 2px;
  font-size: small;
  font-weight: bold;
  transform: scale(1, 1);
  transition: all ease-in-out 50ms;
}

.timeslot-picker-days-day > .day-name,
.timeslot-picker-days-day > .day-dow {
  pointer-events: none;
  user-select: none;
}

.timeslot-picker-days-day:hover {
  transition: all ease-in-out 50ms;
  background: rgb(239, 239, 241);
  transform: scale(1.05, 1.05);
}

.timeslot-picker-days-day:active {
  color: white;
  transition: all ease-in-out 50ms;
  background:#2163ff;
  transform: scale(1, 1);
}

.timeslot-picker-days-day.active {
  color: white;
  transition: all ease-in-out 100ms;
  background:#2163ff;
  transform: scale(1, 1);
}

.day-name {
  opacity: 0.3;
}

.hidden {
  transition: all ease-out 200ms;
  opacity: 0;
}

.time-picked.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0%   { opacity: 0; transform: translate(0px, 10px)}
  25%   { opacity: 0; transform: translate(0px, 10px)}
  100% { opacity: 1; transform: translate(0px, 0px)}
}