.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) infinite alternate-reverse;
  transform: translate3d(0, 0, 0);
  border-radius: 50%;
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  margin-top: 2rem;
  padding-bottom: 4rem;
}

.App-link {
  color: #09d3ac;
}

@keyframes shake {
  0% {
    transform: translate(-25%, -5%) rotate(-10deg) ;
  }
  100% {
    transform: translate(25%, -5%) rotate(30deg) ;
  }
}

